.vscode/**
.vscode-test/**
src/**
.gitignore
tsconfig.json
**/*.map
**/*.ts
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/example/**
node_modules/**/examples/**
node_modules/**/docs/**
node_modules/**/*.md
node_modules/**/*.markdown
node_modules/**/*.ts
node_modules/**/CHANGELOG*
node_modules/**/HISTORY*
node_modules/**/.github/**
node_modules/**/.eslintrc*
node_modules/**/.prettierrc*
node_modules/**/.editorconfig
node_modules/**/.npmignore
node_modules/**/yarn.lock
node_modules/**/package-lock.json
!node_modules/.package-lock.json
